@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap");

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #34506e; /* Dark Blue */
  --secondary-color: #34495e; /* Light Gray */
  --black-color: #000000; /* Black */
  --accent-color: #939393; /* Medium Gray */
  --navy-color: #1a1a1a; /* Dark Gray/Almost Black */
  --background-color: #f4f6f7; /* Very Dark Gray */
  --text-color: #ffffff; /* White */
  --red-color: #ff4d4f; /* Keeping the red as is */
  --hover-color: #2c445d;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: var(--text-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 6px;
  border: 3px solid var(--text-color);
}

/* Apply scrollbar styles to all elements */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--text-color);
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Albert Sans", sans-serif;
}

.ant-menu-item {
  color: #000;
}

.ant-menu > .ant-menu-item-selected {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.ant-input:hover,
.ant-input-password:hover {
  border-color: var(--hover-color);
}

.ant-input:focus,
.ant-input-password:focus-within {
  border-color: var(--primary-color);
  box-shadow: 0 0 2px rgba(44, 62, 80, 0.7);
}

.ant-btn-primary {
  background-color: var(--primary-color);
  &:hover {
    background-color: var(--hover-color) !important;
  }
}

.ant-layout .ant-layout-sider .ant-layout-sider-children .ant-menu {
  .ant-menu-item {
    margin: 8px 5px !important;
  }
}

.ant-input-search-button {
  background-color: var(--primary-color);
}

.ant-row {
  margin: 15px 0px;
}

.app-loading-wrapper.ant-spin-spinning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .ant-spin-dot-holder {
    color: var(--primary-color);
  }
}

.ant-select {
  width: 100%;
}

.ant-picker {
  width: 100%;
  height: 40px;
}

.ant-picker .ant-picker-input > input {
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.negative-row {
  background-color: rgba(255, 0, 0, 0.1); /* Light red background */
}

.positive-row {
  background-color: rgba(4, 161, 4, 0.2); /* Light green background */
}

.total-row {
  background-color: rgb(240, 240, 240);
}

.row {
  cursor: pointer;
}

.modal .ant-modal-title {
  font-size: 20px;
  font-weight: 600;
}

.download-btn {
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: none;
}

.add-btn {
  height: 40px;
  color: var(--primary-color);
  background-color: #ffff;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

.add-btn:hover {
  color: #ffff !important;
  background-color: var(--primary-color) !important;
}

.ant-card .ant-card-head-title {
  text-overflow: unset;
  overflow: visible;
  text-wrap: wrap;
}

.ant-layout .ant-card {
  overflow-x: hidden !important;
}

.ant-layout .ant-layout-sider .ant-layout-sider-children .ant-menu {
  border-inline-end: none;
  .ant-menu-item {
    gap: 8px;
    margin: 8px 5px !important;
    .ant-menu-item-icon {
      font-size: 17px;
    }
  }
}

.ant-form-item-label {
  font-weight: 550;
  font-size: 15px;
}

.header-heading {
  font-size: 27px;
  font-weight: 600;
  margin-left: 20px;
  color: var(--primary-color);
}

.custom-column {
  background-color: rgb(231, 230, 230); /*Apply to both header and data cells*/
  color: #000; /* Optional: Ensure text is readable */
  font-weight: 700;
}

.custom-header {
  background-color: rgb(231, 230, 230) !important;
  font-weight: 700 !important;
}

.ant-menu-submenu {
  .ant-menu-submenu-title {
    .ant-menu-item-icon {
      margin-right: 9px;
    }
  }
}

th {
  text-align: center !important;
}

.ant-dropdown .ant-dropdown-menu {
  padding: 6px 5px;
  border-radius: 5px;
  .ant-dropdown-menu-item {
    margin: 2px 0px;
  }
}

.reset-password-modal {
  .ant-modal-content {
    .ant-modal-confirm-body {
      display: block;
      text-align: center;
    }
    .ant-modal-title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
    }
    .sub-title {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 500;
      color: #7d7d86;
      .content {
        margin-top: 10px;
        .content-title {
          font-size: 14px;
          color: #92929d;
          font-weight: 400;
        }
        .content-title-name {
          font-size: 16px;
          font-weight: 400;
          margin-top: -8px;
          color: #231f20;
        }
      }
    }
    .ant-modal-confirm-title {
      display: block;
      text-align: left;
      color: #231f20;
      font-weight: 600;
      font-size: 20px;
      margin-top: 15px;
    }
    .ant-modal-confirm-content {
      color: #292929;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 20px;
      margin-inline-start: 0 !important;
      text-align: center;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

.hide {
  display: none;
}

.ant-otp.ant-otp-lg .ant-otp-input {
  height: 50px;
  margin: 0px 4px;
}

.header-logo {
  margin-left: 8px;
  width: 120px;
}

@media (max-width: 786px) {
  .header-logo {
    width: 120px;
  }
}
